language: python
python:
  - "2.7"
install:
  - "pip install -r requirements.txt"
  - "pip install coveralls"
script: cd tests/SpiffWorkflow; coverage run --source=SpiffWorkflow ./run_suite.py
after_success:
  coveralls
